$v-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);
$gradient: linear-gradient(145deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$font: "Montserrat", sans-serif;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: $v-light-grayish-blue;
  font-weight: 700;
}

.bg-top {
  position: absolute;
  right: -50%;
  top: -5%;
  z-index: -3;
}

header {
  padding: 4rem 0;
  text-align: center;
}

header,
main {
  max-width: Min(87%, 1000px);
  margin: auto;
}

.title {
  color: $grayish-blue;
}

.card {
  margin: 1rem 0;
  padding: 2rem 1.7rem;
  background-color: white;
  color: $grayish-blue;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 5px 20px hsla(232, 13%, 33%, 0.15);
}

.card + .card {
  margin-top: 2rem;
}

.tier {
  font-size: 1.1rem;
}

.price {
  padding: 1.5rem 0;
  color: $dark-grayish-blue;
  font-size: 4.5rem;
}

.dollar {
  margin-right: 0.2rem;
  font-size: 2.5rem;
  vertical-align: middle;
}

.features {
  margin-bottom: 2rem;
  list-style: none;
}

.feature {
  padding: 1rem 0;
  font-size: 0.9rem;
  border-top: 1px solid hsl(234, 14%, 88%);
}

.feature--last {
  border-bottom: 1px solid hsl(234, 14%, 88%);
}

.more-btn {
  padding: 1rem 0;
  width: 100%;
  background: $gradient;
  font-family: $font;
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 7px;
}

.card--professional {
  background: $gradient;
  color: white;

  .price {
    color: white;
  }

  .feature {
    border-top: 1px solid hsl(237, 100%, 82%);
  }

  .feature--last {
    border-bottom: 1px solid hsl(237, 100%, 82%);
  }

  .more-btn {
    background: white;
    color: hsl(237, 61%, 66%);
  }
}

.attribution {
  max-width: 87%;
  margin: 4rem auto 1rem auto;
  font-weight: 200;
  font-size: 0.8rem;
  color: $grayish-blue;
  text-align: center;
  a {
    color: $dark-grayish-blue;
  }
}

.bg-bottom {
  display: none;
}
